*.json

# Compiled Dynamic libraries
*.cache
*.so
*.dylib
*.dll

# Executables
*.exe

# Build files
build
web_build

# Web build artifacts
*.wasm
*.data
gogame.html
gogame.js

# makefile
# Makefile
CMakeLists.txt
/.vscode
.clangd

data
*.vim
_codeql_detected_source_root
