*.json

# Compiled Dynamic libraries
*.cache
*.so
*.dylib
*.dll

# Executables
*.exe

# Build files
build

# makefile
# Makefile
CMakeLists.txt
/.vscode
.clangd

data
*.vim
_codeql_detected_source_root
